In [37]:
#!pip install nbconvert[webpdf]
import nbconvert as nb
#!jupyter nbconvert --to html HR_Project.ipynb --allow-chromium-download
#!pip install playwright
#!pip install chromium
#!pip install Pandoc
#!playwright install chromium
#!jupyter nbconvert --to html Hr- project.ipynb --allow-chromium-download
#!jupyter nbconvert Hr- project.ipynb --to htm

## Business scenario and problem

The HR department at Salifort Motors wants to take some initiatives to improve employee satisfaction levels at the company. They collected data from employees, but now they don’t know what to do with it. They refer to you as a data analytics professional and ask you to provide data-driven suggestions based on your understanding of the data. They have the following question: what’s likely to make the employee leave the company?

Your goals in this project are to analyze the data collected by the HR department and to build a model that predicts whether or not an employee will leave the company.

If you can predict employees likely to quit, it might be possible to identify factors that contribute to their leaving. Because it is time-consuming and expensive to find, interview, and hire new employees, increasing employee retention will be beneficial to the company

##  planing stage.¶

The stakeholders for this project?
   a) HR Department
   b) Employees
   c) Management
   d) Finance Depertment
   
Goal
    a) Analyze the data collected by the HR department 
    b) Build a model that predicts whether or not  an employee will leave the company.

In [6]:
#!pip install scikit-learn
#!pip install plotly.express
#!pip install pandas
#!pip install numpy
#!pip install matplotlib
#!pip install seaborn

In [7]:
# Import packages

import plotly.express as px
import pandas as pd
import numpy as np
import sklearn as sk
import matplotlib as mp
import seaborn as sns
import matplotlib.pyplot as plt

## Load Datset

In [8]:
# Import data
df=pd.read_csv("HR_comma_sep.csv")
df.head(10)

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
5,0.41,0.50,2,153,3,0,1,0,sales,low
6,0.10,0.77,6,247,4,0,1,0,sales,low
7,0.92,0.85,5,259,5,0,1,0,sales,low
8,0.89,1.00,5,224,5,0,1,0,sales,low
9,0.42,0.53,2,142,3,0,1,0,sales,low

## Basic information about the data

In [21]:
#shape of the data
df.shape

(14999, 10)

In [9]:
#columns by name
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'Department', 'salary'],
      dtype='object')

In [12]:
#Descriptive statistics
df.describe()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [15]:
# Rename columns as needed
df.rename(columns = {'Work_accident':'workplace_accident_count',
                     'Department':'department','last_evaluation':'last_evaluation_score',
                    'salary':'salary_range','time_spend_company':'years_of_working', 
                     'number_project':'project_count','left':'employment_status',
                     'average_montly_hours':'average_monthly_hours'}, inplace = True)
df.columns

Index(['satisfaction_level', 'last_evaluation_score', 'project_count',
       'average_monthly_hours', 'years_of_working',
       'workplace_acciedent_count', 'employment_status',
       'promotion_last_5years', 'department', 'salary_range'],
      dtype='object')

## Check missing values

In [17]:
# Check for missing values
null_sum =df.isnull().sum()
print(null_sum)

satisfaction_level           0
last_evaluation_score        0
project_count                0
average_monthly_hours        0
years_of_working             0
workplace_acciedent_count    0
employment_status            0
promotion_last_5years        0
department                   0
salary_range                 0
dtype: int64

## Check duplicates

In [18]:
# Check for duplicates
df.duplicated().sum()

3008

## Drop duplicates

In [24]:
# Drop duplicates and save resulting dataframe in a new variable as needed
df1=df.drop_duplicates()
df1.shape

(11991, 10)